{
  "openapi": "3.1.0",
  "info": {
    "title": "One Health Lyme Gap Atlas API",
    "summary": "Governed Atlas analytics, metadata, and provenance",
    "description": "![Atlas](https://api.carawaylabs.com/docs/favicon.svg)\n\nRead-only structured data from the One Health Lyme Gap Atlas.\nOrdinary public reads are anonymous and require no API key.\n\n## Interpretation and reproducibility\nV1 (`/v1`) is the HTTP contract version; the application version is separate.\nRead source, methodology, semantic/release versions, and limitations together.\nSurveillance floors and gap scores are not diagnoses, individual risk estimates,\nor causal claims. Null, zero, suppressed values, and no linked records have\ndistinct meanings. Response time is not publisher freshness.\n\n## Queries and errors\nCanonical collections use `data`, `meta`, and `links`; details use `data`.\nPagination defaults to 100 items (maximum 500). Send opaque `next_page_token`\nas `page_token` with the same filters; null means exhaustion. Tokens bind to\nquery/release and may expire on restart. Current-release observations require\none measure, 1\u2013500 county FIPS IDs, and a year or complete inclusive date range.\nThe default pre-execution logical-result ceiling is 10,000, not truncation.\nOnly the annual 2023 period is currently published; no strata are supported.\n\nErrors use RFC 9457 `application/problem+json` with `request_id` for support.\nCanonical errors carry stable `code` values; legacy Atlas routes retain their\nexisting error semantics (including 422 validation). Respect `Retry-After` on\n429/503. Canonical metadata/observations cache for 60 seconds; supported detail\nresources return ETags and 304 on matching `If-None-Match`. See each operation\nfor legacy cache and export behavior.\n\n## Contract consumers\nFumadocs, `/docs`, and `/redoc` consume the canonical public `openapi.json`\nat `/openapi.json`. Internal product operations are not part of this contract.\nExisting operation IDs remain stable for\ngenerated clients. Breaking public changes require an approved migration and\ndeprecation plan; optional additive fields may appear within V1.\nOnly separately approved ML outputs may be published. Internal conversational\nAI, literature retrieval, account, and feedback product routes are excluded.\n",
    "contact": {
      "name": "Caraway Labs",
      "url": "https://carawaylabs.com/"
    },
    "version": "0.1.0",
    "x-logo": {
      "url": "https://api.carawaylabs.com/docs/favicon.svg",
      "altText": "Atlas"
    }
  },
  "servers": [
    {
      "url": "https://api.carawaylabs.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/atlas/geometry": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get county display geometry",
        "description": "Existing generalized CDC/ATSDR SVI 2022 display geometry in EPSG:4326, identified by stable five-digit county FIPS. This resource never returns internal 2025 TIGER/Line analysis polygons used for raster aggregation.",
        "operationId": "geometry_v1_atlas_geometry_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Display GeoJSON, EPSG:4326; immutable TTL 31536000; ETag.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Matching If-None-Match; empty body."
          }
        }
      }
    },
    "/v1/atlas/metadata": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get Atlas release metadata",
        "description": "Release metadata, source freshness and methodology; dataset_version selects an existing release. Cached publicly for 300 seconds with ETag. ETag is informational here; this route does not implement conditional 304.",
        "operationId": "metadata_v1_atlas_metadata_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtlasMetadata"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/atlas/ranking.csv": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Download filtered county rankings",
        "description": "Filtered CSV attachment for current county rankings. Existing state, text and evidence filters and score settings apply; no pagination. This route does not declare a public cache TTL.",
        "operationId": "ranking_csv_v1_atlas_ranking_csv_get",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(ALL|[A-Z]{2})$",
              "default": "ALL",
              "title": "State"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "default": "",
              "title": "Q"
            }
          },
          {
            "name": "evidence",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "all",
                "ecological",
                "human",
                "complete"
              ],
              "type": "string",
              "default": "all",
              "title": "Evidence"
            }
          },
          {
            "name": "ecological_share",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 85,
              "minimum": 40,
              "default": 65,
              "title": "Ecological Share"
            }
          },
          {
            "name": "low_incidence_breakpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 5,
              "default": 10,
              "title": "Low Incidence Breakpoint"
            }
          },
          {
            "name": "missing_human_weakness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 90,
              "minimum": 40,
              "default": 75,
              "title": "Missing Human Weakness"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV attachment.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/atlas/scores": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get county gap scores",
        "description": "Existing surveillance-gap scores and settings for an optional dataset_version. Scores are not individual risk estimates or diagnoses. Public cache TTL 300 seconds with informational ETag; no conditional 304.",
        "operationId": "scores_v1_atlas_scores_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          },
          {
            "name": "ecological_share",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 85,
              "minimum": 40,
              "default": 65,
              "title": "Ecological Share"
            }
          },
          {
            "name": "low_incidence_breakpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 5,
              "default": 10,
              "title": "Low Incidence Breakpoint"
            }
          },
          {
            "name": "missing_human_weakness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 90,
              "minimum": 40,
              "default": 75,
              "title": "Missing Human Weakness"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreCollection"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/counties/{fips}": {
      "get": {
        "tags": [
          "counties"
        ],
        "summary": "Get county analytics and provenance",
        "description": "Five-digit county FIPS with leading zeros retained. Includes release/source metadata and limitations. Optional dataset_version and score settings retain existing meanings. Public cache TTL 300 seconds with informational ETag; no conditional 304.",
        "operationId": "county_v1_counties__fips__get",
        "parameters": [
          {
            "name": "fips",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$",
              "title": "Fips"
            }
          },
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          },
          {
            "name": "ecological_share",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 85,
              "minimum": 40,
              "default": 65,
              "title": "Ecological Share"
            }
          },
          {
            "name": "low_incidence_breakpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 5,
              "default": 10,
              "title": "Low Incidence Breakpoint"
            }
          },
          {
            "name": "missing_human_weakness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 90,
              "minimum": 40,
              "default": 75,
              "title": "Missing Human Weakness"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountyDetail"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/counties/{fips}/report.pdf": {
      "get": {
        "tags": [
          "counties"
        ],
        "summary": "Download a county report",
        "description": "PDF attachment using the immutable county-v1 registered template by default. Optional dataset_version and score settings bind report inputs. Opt-in county-v2 requires dataset_version, period_start, period_end and repeated measure_id (1\u201320, repeated or comma-separated); reads canonical evidence, lineage, value states and limitations. Missing or mismatched provenance returns 503; unknown observations return 404. V1 rejects observation selectors with 422. V2 responses use no-store and revalidate authoritative context before cache/304. ETag/If-None-Match supports 304; V1 public cache TTL 300 seconds with revalidation. Unknown templates return 422; resource limits 413; renderer failure/timeout 503.",
        "operationId": "county_report_pdf_v1_counties__fips__report_pdf_get",
        "parameters": [
          {
            "name": "fips",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$",
              "title": "Fips"
            }
          },
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          },
          {
            "name": "period_start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact inclusive observation start for county-v2.",
              "title": "Period Start"
            },
            "description": "Exact inclusive observation start for county-v2."
          },
          {
            "name": "period_end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact inclusive observation end for county-v2.",
              "title": "Period End"
            },
            "description": "Exact inclusive observation end for county-v2."
          },
          {
            "name": "measure_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 20
                },
                {
                  "type": "null"
                }
              ],
              "description": "1\u201320 measure IDs; repeated or comma-separated for county-v2.",
              "title": "Measure Id"
            },
            "description": "1\u201320 measure IDs; repeated or comma-separated for county-v2."
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+-v\\d+$",
              "default": "county-v1",
              "title": "Template"
            }
          },
          {
            "name": "ecological_share",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 85,
              "minimum": 40,
              "default": 65,
              "title": "Ecological Share"
            }
          },
          {
            "name": "low_incidence_breakpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 5,
              "default": 10,
              "title": "Low Incidence Breakpoint"
            }
          },
          {
            "name": "missing_human_weakness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 90,
              "minimum": 40,
              "default": 75,
              "title": "Missing Human Weakness"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF attachment.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Matching If-None-Match; empty body."
          },
          "400": {
            "description": "Narrow the observation period.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "Narrow the observation period.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "QUERY_TOO_BROAD"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "The report exceeds configured resource limits.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "The report exceeds configured resource limits.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/counties/{fips}/tier1-surveillance-priority": {
      "get": {
        "tags": [
          "counties"
        ],
        "summary": "Get persisted Tier 1 model-assisted surveillance review priority",
        "description": "Returns the approved persisted county result from the current Tier 1 batch. This is surveillance review priority, not Lyme disease risk, predicted incidence, probability, clinical risk, or diagnosis. LOW is a scored tier; evidence sufficiency is separate. Percentile is relative to the scored batch and population. A county without a persisted result returns 404; an unavailable current view or malformed result returns 503. Public cache TTL 60 seconds; generated_at_utc is the model batch time, not request time.",
        "operationId": "county_tier1_surveillance_priority_get",
        "parameters": [
          {
            "name": "fips",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{5}$",
              "title": "Fips"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tier1CountyPriority"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/geographies/{geography_type}/{geography_id}": {
      "get": {
        "tags": [
          "geographies"
        ],
        "summary": "Get geography identity (delivery pending)",
        "description": "Validated county/state FIPS identity; currently returns 503 CANONICAL_DATA_UNAVAILABLE. No geometry is returned.",
        "operationId": "geography_v1_geographies__geography_type___geography_id__get",
        "parameters": [
          {
            "name": "geography_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GeographyType"
            }
          },
          {
            "name": "geography_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Geography Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Geography_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicators": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Discover indicators",
        "description": "Current-release discovery with optional documented filters. page_size defaults to 100 (maximum 500); reuse opaque page_token with the same filters and release. A null next_page_token ends traversal. Cache-Control: public, max-age=60, must-revalidate.",
        "operationId": "indicators_v1_indicators_get",
        "parameters": [
          {
            "name": "indicator_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Indicator Id"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Indicator_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicators/{indicator_id}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Get an indicator",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "indicator_v1_indicators__indicator_id__get",
        "parameters": [
          {
            "name": "indicator_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Indicator Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Indicator_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/measures": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Discover measures",
        "description": "Current-release discovery with optional documented filters. page_size defaults to 100 (maximum 500); reuse opaque page_token with the same filters and release. A null next_page_token ends traversal. Cache-Control: public, max-age=60, must-revalidate.",
        "operationId": "measures_v1_measures_get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Measure Id"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Indicator Id"
            }
          },
          {
            "name": "geography_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Geography Type"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Measure_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/measures/{measure_id}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Get a measure",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "measure_v1_measures__measure_id__get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Measure Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Measure_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/methodologies/{methodology_id}": {
      "get": {
        "tags": [
          "provenance"
        ],
        "summary": "Get a methodology",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "methodology_v1_methodologies__methodology_id__get",
        "parameters": [
          {
            "name": "methodology_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Methodology Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Methodology_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/observations": {
      "get": {
        "tags": [
          "observations"
        ],
        "summary": "Query county observations",
        "description": "Current published county observations only. Ordered by measure ID, county FIPS, period start, and observation ID. Opaque page tokens bind to filters and release. Annual surveillance uses 2023. Separately enabled, reviewed January 2025 environmental measures use labeled daily periods, carry environmental_context coverage, and have no supported strata. Environmental context is descriptive weather, with no causal, disease-risk or ML claim. A measure and bounded county/time selection are required; no user sorting or aggregation.",
        "operationId": "observations_v1_observations_get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
[...]
