{
  "openapi": "3.1.0",
  "info": {
    "title": "One Health Lyme Gap Atlas API",
    "summary": "Governed Atlas analytics, metadata, and provenance",
    "description": "Read-only structured data from the One Health Lyme Gap Atlas.\nOrdinary public reads are anonymous and require no API key.\n\n## Interpretation and reproducibility\nV1 (`/v1`) is the HTTP contract version; the application version is separate.\nRead source, methodology, semantic/release versions, and limitations together.\nSurveillance floors and gap scores are not diagnoses, individual risk estimates,\nor causal claims. Null, zero, suppressed values, and no linked records have\ndistinct meanings. Response time is not publisher freshness.\n\n## Queries and errors\nCanonical collections use `data`, `meta`, and `links`; details use `data`.\nPagination defaults to 100 items (maximum 500). Send opaque `next_page_token`\nas `page_token` with the same filters; null means exhaustion. Tokens bind to\nquery/release and may expire on restart. Current-release observations require\none measure, 1\u2013500 county FIPS IDs, and a year or complete inclusive date range.\nThe default pre-execution logical-result ceiling is 10,000, not truncation.\nOnly the annual 2023 period is currently published; no strata are supported.\n\nErrors use RFC 9457 `application/problem+json` with `request_id` for support.\nCanonical errors carry stable `code` values; legacy Atlas routes retain their\nexisting error semantics (including 422 validation). Respect `Retry-After` on\n429/503. Canonical metadata/observations cache for 60 seconds; supported detail\nresources return ETags and 304 on matching `If-None-Match`. See each operation\nfor legacy cache and export behavior.\n\n## Contract consumers\nFumadocs is the public human-facing documentation consumer; `/docs` and `/redoc`\nrender this authoritative contract. Existing operation IDs remain stable for\ngenerated clients. Breaking public changes require an approved migration and\ndeprecation plan; optional additive fields may appear within V1.\nOnly separately approved ML outputs may be published. Internal conversational\nAI, literature retrieval, account, and feedback product routes are excluded.\n",
    "contact": {
      "name": "Caraway Labs",
      "url": "https://carawaylabs.com/"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.carawaylabs.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/indicators": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Discover indicators",
        "description": "Current-release discovery with optional documented filters. page_size defaults to 100 (maximum 500); reuse opaque page_token with the same filters and release. A null next_page_token ends traversal. Cache-Control: public, max-age=60, must-revalidate.",
        "operationId": "indicators_v1_indicators_get",
        "parameters": [
          {
            "name": "indicator_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Indicator Id"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Indicator_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/indicators/{indicator_id}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Get an indicator",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "indicator_v1_indicators__indicator_id__get",
        "parameters": [
          {
            "name": "indicator_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Indicator Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Indicator_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/measures": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Discover measures",
        "description": "Current-release discovery with optional documented filters. page_size defaults to 100 (maximum 500); reuse opaque page_token with the same filters and release. A null next_page_token ends traversal. Cache-Control: public, max-age=60, must-revalidate.",
        "operationId": "measures_v1_measures_get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Measure Id"
            }
          },
          {
            "name": "indicator_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Indicator Id"
            }
          },
          {
            "name": "geography_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Geography Type"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Measure_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/measures/{measure_id}": {
      "get": {
        "tags": [
          "discovery"
        ],
        "summary": "Get a measure",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "measure_v1_measures__measure_id__get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Measure Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Measure_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/sources": {
      "get": {
        "tags": [
          "provenance"
        ],
        "summary": "Discover sources",
        "description": "Current-release discovery with optional documented filters. page_size defaults to 100 (maximum 500); reuse opaque page_token with the same filters and release. A null next_page_token ends traversal. Cache-Control: public, max-age=60, must-revalidate.",
        "operationId": "sources_v1_sources_get",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Source_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sources/{source_id}": {
      "get": {
        "tags": [
          "provenance"
        ],
        "summary": "Get a source",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "source_v1_sources__source_id__get",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Source_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/methodologies/{methodology_id}": {
      "get": {
        "tags": [
          "provenance"
        ],
        "summary": "Get a methodology",
        "description": "Resolve the exact governed public resource ID in the current release. Unknown IDs return 404 RESOURCE_NOT_FOUND. Preserve versions and limitations; null metadata is not inferred. Cache-Control: public, max-age=60, must-revalidate; ETag with matching If-None-Match returns an empty 304.",
        "operationId": "methodology_v1_methodologies__methodology_id__get",
        "parameters": [
          {
            "name": "methodology_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Methodology Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Methodology_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Not modified. ETag matches If-None-Match; empty response body."
          }
        }
      }
    },
    "/v1/geographies/{geography_type}/{geography_id}": {
      "get": {
        "tags": [
          "geographies"
        ],
        "summary": "Get geography identity (delivery pending)",
        "description": "Validated county/state FIPS identity; currently returns 503 CANONICAL_DATA_UNAVAILABLE. No geometry is returned.",
        "operationId": "geography_v1_geographies__geography_type___geography_id__get",
        "parameters": [
          {
            "name": "geography_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GeographyType"
            }
          },
          {
            "name": "geography_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Geography Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful current-release resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceEnvelope_Geography_"
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/observations": {
      "get": {
        "tags": [
          "observations"
        ],
        "summary": "Query county observations",
        "description": "Current published county observations only. Ordered by measure ID, county FIPS, period start, and observation ID. Opaque page tokens bind to filters and release. The current release contains only the 2023 annual period and has no supported strata. A measure and bounded county/time selection are required; no user sorting or aggregation.",
        "operationId": "observations_v1_observations_get",
        "parameters": [
          {
            "name": "measure_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Exact discovery measure ID.",
              "examples": [
                "case_count_floor_2023"
              ],
              "title": "Measure Id"
            },
            "description": "Exact discovery measure ID."
          },
          {
            "name": "geography_type",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GeographyType"
            }
          },
          {
            "name": "geography_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "minItems": 1,
              "maxItems": 500,
              "description": "Repeat for 1-500 county FIPS strings; preserve leading zeros.",
              "examples": [
                [
                  "08001"
                ]
              ],
              "title": "Geography Id"
            },
            "description": "Repeat for 1-500 county FIPS strings; preserve leading zeros."
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 2100,
                  "minimum": 1900
                },
                {
                  "type": "null"
                }
              ],
              "description": "Year or complete date range, not both; current published year is 2023.",
              "examples": [
                2023
              ],
              "title": "Year"
            },
            "description": "Year or complete date range, not both; current published year is 2023."
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Inclusive period start; requires end_date and excludes year.",
              "examples": [
                "2023-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Inclusive period start; requires end_date and excludes year."
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Inclusive period end; requires start_date and excludes year.",
              "examples": [
                "2023-12-31"
              ],
              "title": "End Date"
            },
            "description": "Inclusive period end; requires start_date and excludes year."
          },
          {
            "name": "stratification",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Current release has no strata; unsupported selections fail explicitly.",
              "title": "Stratification"
            },
            "description": "Current release has no strata; unsupported selections fail explicitly."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 500,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Items per page; defaults to 100, configured maximum at most 500.",
              "examples": [
                100
              ],
              "title": "Page Size"
            },
            "description": "Items per page; defaults to 100, configured maximum at most 500."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque next_page_token; retain query filters and release.",
              "title": "Page Token"
            },
            "description": "Opaque next_page_token; retain query filters and release."
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded current-release observations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionEnvelope_Observation_"
                },
                "examples": {
                  "empty": {
                    "summary": "Illustrative exhausted page; no observations matched",
                    "value": {
                      "data": [],
                      "meta": {
                        "next_page_token": null,
                        "response_at": "2026-01-01T00:00:00Z"
                      },
                      "links": {
                        "self": null
                      }
                    }
                  },
                  "missing": {
                    "summary": "Synthetic missing-value example; not a published county result",
                    "value": {
                      "data": [
                        {
                          "observation_id": "example-observation",
                          "measure_id": "case_count_floor_2023",
                          "geography": {
                            "geography_type": "county",
                            "geography_id": "08001"
                          },
                          "period_start": "2023-01-01",
                          "period_end": "2023-12-31",
                          "temporal_grain": "year",
                          "value": null,
                          "value_state": "MISSING",
                          "unit": "cases",
                          "denominator": null,
                          "source_id": "human",
                          "methodology_id": null,
                          "methodology_version": "example-transform-v1",
                          "semantic_version": "example-semantic-v1",
                          "release_id": "example-release",
                          "provenance_ref": "example-observation",
                          "limitations": [
                            "Synthetic documentation example; no measured value is asserted."
                          ],
                          "evidence": {
                            "resource_type": "observation",
                            "resource_id": "example-observation"
                          }
                        }
                      ],
                      "meta": {
                        "next_page_token": null,
                        "response_at": "2026-01-01T00:00:00Z"
                      },
                      "links": {
                        "self": null
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Canonical client errors use application/problem+json.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-400",
                      "title": "Request failed",
                      "status": 400,
                      "detail": "INVALID_REQUEST, UNSUPPORTED_FILTER, UNSUPPORTED_STRATIFICATION, or QUERY_TOO_BROAD; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "RESOURCE_NOT_FOUND; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "RESOURCE_NOT_FOUND; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RESOURCE_NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; Retry-After; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limited; Retry-After; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "RATE_LIMITED"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "GET request body rejected; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-413",
                      "title": "Request failed",
                      "status": 413,
                      "detail": "GET request body rejected; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "414": {
            "description": "Query string too long; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-414",
                      "title": "Request failed",
                      "status": 414,
                      "detail": "Query string too long; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id",
                      "code": "INVALID_REQUEST"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Canonical data service unavailable; application/problem+json",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Canonical data service unavailable; application/problem+json",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/atlas/metadata": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get Atlas release metadata",
        "description": "Release metadata, source freshness and methodology; dataset_version selects an existing release. Cached publicly for 300 seconds with ETag. ETag is informational here; this route does not implement conditional 304.",
        "operationId": "metadata_v1_atlas_metadata_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtlasMetadata"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/atlas/geometry": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get county display geometry",
        "description": "Existing generalized CDC/ATSDR SVI 2022 display geometry in EPSG:4326, identified by stable five-digit county FIPS. This resource never returns internal 2025 TIGER/Line analysis polygons used for raster aggregation.",
        "operationId": "geometry_v1_atlas_geometry_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Display GeoJSON, EPSG:4326; immutable TTL 31536000; ETag.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-503",
                      "title": "Request failed",
                      "status": 503,
                      "detail": "Atlas data service is unavailable.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "304": {
            "description": "Matching If-None-Match; empty body."
          }
        }
      }
    },
    "/v1/atlas/scores": {
      "get": {
        "tags": [
          "atlas"
        ],
        "summary": "Get county gap scores",
        "description": "Existing surveillance-gap scores and settings for an optional dataset_version. Scores are not individual risk estimates or diagnoses. Public cache TTL 300 seconds with informational ETag; no conditional 304.",
        "operationId": "scores_v1_atlas_scores_get",
        "parameters": [
          {
            "name": "dataset_version",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset Version"
            }
          },
          {
            "name": "ecological_share",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 85,
              "minimum": 40,
              "default": 65,
              "title": "Ecological Share"
            }
          },
          {
            "name": "low_incidence_breakpoint",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 5,
              "default": 10,
              "title": "Low Incidence Breakpoint"
            }
          },
          {
            "name": "missing_human_weakness",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "multipleOf": 5,
              "maximum": 90,
              "minimum": 40,
              "default": 75,
              "title": "Missing Human Weakness"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreCollection"
                }
              }
            }
          },
          "404": {
            "description": "County or dataset release not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-404",
                      "title": "Request failed",
                      "status": 404,
                      "detail": "County or dataset release not found.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "One or more request values are invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-422",
                      "title": "Request failed",
                      "status": 422,
                      "detail": "One or more request values are invalid.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "illustrative": {
                    "summary": "Synthetic error example",
                    "value": {
                      "type": "https://carawaylabs.com/problems/http-429",
                      "title": "Request failed",
                      "status": 429,
                      "detail": "Rate limit exceeded.",
                      "instance": "/v1/observations",
                      "request_id": "example-request-id"
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds before retry when supplied by the service.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Atlas data service is unavailable.",
[...]
